@import "~@/assets/scss/function";
@import "~@/assets/scss/animation";

.DashboardSlider {
  width: 100%;
  padding-bottom: 50px;
  .slider-square {
    &_container {
      position: relative;
      width: 62%;
      height: 62.5vw;
      max-height: 80vh;
      overflow: hidden;
    }

    &_list {
      width: 100%;
      height: 100%;
      white-space: nowrap;
    }

    &_item {
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    &_title {
      top: 25%;
      left: 10%;
      font-size: 50px;
    }

    &_desc {
      top: 42%;
      left: 10%;
      width: 40%;
      font-size: 20px;
      letter-spacing: 1px;
      white-space: pre-wrap;
    }
  }

  .slider-content {
    &_container {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 55%;
      height: 62%;
      margin: auto;
      overflow: hidden;
    }

    &_list {
      height: 100%;
      white-space: nowrap;
    }

    &_item {
      display: inline-block;
      height: 100%;
    }

    &_image {
      display: block;
      height: 60%;
      @include center-translate(both);

      &.slider-image-cellphone {
        height: 80%;
      }
    }

    &_pagination {
      &-text {
        position: absolute;
        right: 5px;
        bottom: 82px;
        display: block;
        transform: rotate(90deg);
        font-family: "Gotham A", "Gotham B", Arial, sans-serif;
        font-size: 16px;
        color: rgba(white, .8);
      }

      &-rotate {
        position: absolute;
        right: 15px;
        bottom: 15px;
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgba(white, .1);
        transition: all .3s;
        user-select: none;

        .ic {
          @include center-translate(both);
          color: white;
        }

        svg {
          width: 35px;
        }

        path {
          stroke-dasharray: 300;
          stroke-dashoffset: 300;

          @keyframes rotate {
            from {
              stroke-dashoffset: 300;
            }

            to {
              stroke-dashoffset: 0;
            }
          }
          animation: rotate 5s 1 forwards;
        }

        &:hover {
          background-color: rgba(white, .3);
        }
      }
    }
  }

  .slider-indicator {
    position: absolute;
    bottom: 70px;
    left: calc(50% - 20px);
    &-tip {
      margin-bottom: 2px;
      font-size: 14px;
      color: rgba(white, .9);
      letter-spacing: 1px;
    }

    @keyframes fadeArrow {
      from {
        opacity: .2;
        transform: translateY(0) rotate(90deg);
      }

      to {
        opacity: .6;
        transform: translateY(100%) rotate(90deg);
      }
    }

    .ic {
      font-size: 12px;
      animation: fadeArrow 1s infinite cubic-bezier(.42,.12,.52,1);
      line-height: 1;
      color: white;
      transform: translateY(0) rotate(90deg);

      &:last-of-type {
        position: relative;
        top: -2px;
      }
    }

    > * {
      display: block;
    }
  }

  &.animate {
    .transform-el {
      transition: transform .5s ease-out;
    }
  }
}