@import "~@/assets/scss/base.scss";
@import "~@/assets/scss/common.scss";
@import "~@/assets/scss/rem.scss";

.App {
  height: 100%;
  margin: auto;
  padding-top: 80px;
  cursor: url("https://file.5rs.me/oss/uploadfe/png/c4e7b3ea3298cc864bcd14de2e18ce85.png"), auto;
}

.cursor-pointer, a {
  cursor: url("https://file.5rs.me/oss/uploadfe/png/e0fd3ce461ad33d4daa29faaf7a8d013.png") 15 5, auto;
}

.website-center-container {
  max-width: 1280PX;
  margin: auto;
}
