@import "~@/assets/scss/function";

.ProjectAnalysis {
  padding: 80px 0 120px;
  background-color: $bg-color;

  @include phone {
    padding: 80px 0 100px;
  }

  .project-analysis-title {
    margin-bottom: 60px;
    color: $secondary-color;
    font-size: 45px;
    font-family: $title-font-family;

    @include phone {
      margin-bottom: 40px;
    }
  }

  .analysis-pie-container {
    @include responsive(width, 25%, 30%, 40%, 70%);
    margin: auto;
    transform: translateX(5%);
  }

  .wtdc-img {
    width: 100%;
    max-width: 600px;
    transform: translateX(8%);
  }
}
