@import "~@/assets/scss/function";

.DesignCategory {
  background-color: #f5f7ff;

  .website-center-container {
    padding: 80px 0;
  }

  .design-category-item {
    width: 50%;
    padding: 50px 24px 40px 40px;
    transition: all .3s;
    background-color: white;
    box-shadow: 0 10px 30px 0 rgba(96, 108, 147, 0.05);
    border-radius: 4px;

    @include phone {
      padding: 30px 15px 20px 20px;
    }

    &.active {
      box-shadow: 0 15px 33px 0 rgba(96, 108, 147, 0.22);
      transform: translateY(-4px);
    }

    &-wrap {
      margin-bottom: 48px;

      &:last-of-type {
        margin-bottom: 0;
        .design-category-picture {
          margin-top: -20px;
        }
      }
    }
  }

  .design-category-picture {
    vertical-align: top;
    margin-right: 40px;
    width: 120px;
    min-height: 1px;

    @include phone {
      width: 80px;
      margin-right: 15px;
    }
  }

  .design-category-info {
    color: #606c93;
    overflow: hidden;
  }

  .design-category-title {
    font-size: 20px;
  }

  .design-category-desc {
    margin-top: 5px;
    font-size: 16px;
  }

  .check-detail-btn {
    margin-top: 20px;
    width: 100px;
    line-height: 34px;
    color: white;
    background-color: rgba(96, 103, 242, 0.7);

    @include phone {
      margin-top: 10px;
    }

    &:hover {
      background-color: $primary-color;
    }
  }

  .design-category-slider {
    transition: transform .5s cubic-bezier(.32,.88,.37,.94);
    &-container {
      top: 80px;
      bottom: 80px;
      right: 0;
      width: 45%;
      overflow: hidden;
    }

    &-item {
      width: 100%;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
