@import "~@/assets/scss/function";

.AppDesign {
  padding-top: 80px;
  background-color: white;
  .app-design-title {
    margin-bottom: 50px;
    font-size: 45px;
    color: $secondary-color;
  }
  .wtdc-img {
    @include responsive(width, 40%, 50%, 55%, 60%);
    margin: auto;
    max-width: 780px;
    transform: translateX(8%);
  }
}
